:root {
  --cor0: #fff;
  --cor1: #f7f7f7;
  --cor2: #ededed;
  --cor3: #dedede;
  --cor4: #ccc;
  --cor5: #b2b2b2;
  --cor6: #9c9c9c;
  --cor7: #717171;
  --cor8: #595959;
  --cor9: #404040;
  --cor10: #2e2e2e;
  --cor11: #111;
  --cor12: #000;
  --p1: #fb0;
  --p2: #e4a30b;
  --p3: #a66f00;
  --p4: #640;
  --p5: #320;
}
