.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: var(--gradiente);
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--p5);
  font: 600 1.125rem/1.33 "Poppins", sans-serif;
}

.botao:hover {
  background: var(--gradiente2);
}
/* voltar na aula 1007 para responsivo e tentar fazer o mobile first */

.link {
  display: inline-block;
  color: var(--p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor0);
}
