:root {
  --cor0: #fff;
  --cor1: #f7f7f7;
  --cor2: #ededed;
  --cor3: #dedede;
  --cor4: #ccc;
  --cor5: #b2b2b2;
  --cor6: #9c9c9c;
  --cor7: #717171;
  --cor8: #595959;
  --cor9: #404040;
  --cor10: #2e2e2e;
  --cor11: #111;
  --cor12: #000;
  --p1: #fb0;
  --p2: #e4a30b;
  --p3: #a66f00;
  --p4: #640;
  --p5: #320;
  /* --gradiente: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%); */
  --gradiente: linear-gradient(#ffbf00, #f2a50c);
  --gradiente2: linear-gradient(#ffb60d, #e59317);
}

.cor-0 {
  color: var(--cor0);
}
.cor-1 {
  color: var(--cor1);
}
.cor-2 {
  color: var(--cor2);
}
.cor-3 {
  color: var(--cor3);
}
.cor-4 {
  color: var(--cor4);
}
.cor-5 {
  color: var(--cor5);
}
.cor-6 {
  color: var(--cor6);
}
.cor-7 {
  color: var(--cor7);
}
.cor-8 {
  color: var(--cor8);
}
.cor-9 {
  color: var(--cor9);
}
.cor-10 {
  color: var(--cor10);
}
.cor-11 {
  color: var(--cor11);
}
.cor-12 {
  color: var(--cor12);
}
.cor-p1 {
  color: var(--p1);
}
.cor-p2 {
  color: var(--p2);
}
.cor-p3 {
  color: var(--p3);
}
.cor-p4 {
  color: var(--p4);
}
.cor-p5 {
  color: var(--p5);
}
