.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--p1);
}

.depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
  overflow: hidden;
}

.depoimento-conteudo {
  padding: 40px 40px 80px 80px;
  align-self: end;
}

.depoimento-conteudo p {
  max-width: 32ch;
  font-family: "Merriweather" serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  position: relative;
}

.depoimento-conteudo p::before,
.depoimento-conteudo p::after {
  font-size: 5rem;
  color: var(--p2);
  position: absolute;
}

.depoimento-conteudo p::before {
  content: "“";

  left: -50px;
  top: -20px;
}

.depoimento-conteudo p::after {
  content: "”";
  bottom: -42px;
}

/* voltar na aula 1016 para responsivo, tentar o mobile first */
